#Correo{
    width: 3%;
    height: 3%;
    vertical-align: middle;
    margin-right: 7px;
}
#WhatsApp{
    width:3%;
    height: 3%;
    vertical-align: middle;
    margin-left: 1%;
}
#celular{
    display: none;
}
/*celular*/
.menu-flotante {
    display: none;
	top: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.boton-flotante {
	background-color: #337ab7;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor:  pointer;
}

.boton-flotante:hover {
	background-color: #23527c;
}

.menu-desplegable {
	display: none;
	position: absolute;
	background-color: #f0f0f0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-desplegable li {
	display: block; 
	margin-bottom: 10px;
}

.menu-desplegable a {
	color: #337ab7;
	text-decoration: none;
}

.menu-desplegable a:hover {
	color: #23527c;
}

.menu-flotante:hover .menu-desplegable {
	display: block;
}



p{
    font-size:175%;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 230%;
}
.accesos{
    font-size: 140%;
}
#social{
    font-size: 20;
}
#LogoHome{
    width: 7%;
    height: 7%;
    vertical-align: middle;
    margin-left: 1%;
}   
.sc{
        background-color: blue;
    }
    #pdc{
        background:navajowhite;
        padding: 0.8%;
        font-size: 210%;
        font-style: oblique;
        text-align: center;
    }
    .text{
        color: black;
        font-size: 130%;
    }
    .part1{
        background-color: blue;
        padding: 1%;
        width: 50%;
        padding-bottom: 1%;
        justify-self: center;
        text-align: center;
    }
    #sep{
        font-size: 95%;
    }
    #boton{
        background-color: white;
        padding: 1%;
        margin-left: 65%;
        margin-bottom: 1%;
        border-radius: 20cm;
        box-shadow:20cm, rgb(124, 0, 0);
        background-color: rgb(255, 64, 64);
    }
    .nvlacd{
        text-align: center;
        background-color: red;
        padding-bottom :3% ;
    }
    #licenciaturalogo{
        margin-left: 5%;
        margin-right: 3%;
        width: 20%;
        height: 30%;
    }
    #preparatorialogo{
        margin-right: 0;
        width: 20%;
        height: 30%;
    }
    .text{
        margin-right: 2.5%;
    }
    .color{
        margin-right: 3%;
        color: black;
    }
    #imagen{
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
    }   
    #formulario{
        display: flex;
        width: 80%;
        margin: 40px auto;
        background-color: red;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .contenio{
        font-size: 150%;
        color: black;
        text-decoration: underline;
    }
    .Contenio{
        font-size: 175%;
    }
    #contenedor-formulario{
        width: 50%;
    }
    #formm{
        width: 100%;
        background-color: blue;
        text-align: center;
        justify-self: center;
    }
    #contenedor-imagen{
        width: 250px;
        height: 200px;
        background-color: blue;
        margin-right: 40%;
    }
    .form {
        width: 100%;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
    } 
    #cdf{
        margin-bottom: 4%;
        font-size: 230%;
        margin-top: 1%;
        padding-top: 2%;
    }
    #nombres{
        margin-right: 6%;
        width: 37%;
        padding: 1% 0;
        padding-left: 1%;
    }
    #apellidos{
        width: 37%;
        padding: 1% 0;
        padding-left: 1%;
    }
    #correo{
        margin-right: 6%;
        width: 37%;
        padding: 1% 0;
        padding-left: 1% ;
    }
    #numero{
        width: 37%;
        padding: 1% 0;
        padding-left: 1%;
    }
    #nivel{
        width: 85%;
        padding: 1% 0;
        padding-left: 1%;
    }
    #mensaje{
        padding-top: 1%;
        padding-left: 2%;
        font-family: Arial, Helvetica, sans-serif ;
        width: 61%; 
        height: 120px;
    }
    #Enviar{
        margin-bottom: 3%;
    }
    #tituloe{
        font-size: 200%;
        text-align: center;
    }
    #cintaev{
        background-color: red;
    }
    .cinta-imagenes {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 40px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-align: center;
        background-color: white;
    }
    .cinta-imagenes img {
        width: 20%;
        height: auto;
        object-fit: cover;
        scroll-snap-align: start;
        transition: transform 0.5s;
        margin-right:10px;
    }
    .cinta-imagenes img:hover {
        transform: scale(1.1);
    }
    footer{
        background-color: red;  
        margin-top: 2%;
    }
    #f1{
        background-color: blue;
        width: 35%;
        text-align: center;
        height: 230px;
        margin-left: 3%;
        margin-right: 40%;
    }
    #f2{
        background-color: blue;
        width: 40%;
        text-align: center;
        height: 230px;
        margin-right: 3%;
    }
    #pie{
        display: flex;
    }
    #iglogo{
        width: 2%;
        height: auto;
        text-decoration: none;
        vertical-align:middle ;
    }
@media (min-width:1500) {
    footer{
        background-color: red;
    }
}   
@media(max-width: 1023px){
    #contenedor-formulario{
        width: 70%;
    }
    #formm{
        width: 100%;
    }
    footer{
        padding-bottom: 0%;
    }
}  




@media (max-width: 767px){
    #celular{
        display: block;
        vertical-align: middle;
    }
    #celular img{
        width :75%;
        height: 80px;
    }
    .menu-flotante {
        display: block;
        float: right;
        margin-top:26px;
        margin-right: 1%;
    }
    #contactos{
        display: none;
    }
    #ordenador{
        display: none;
    }
    .part1{
        width: 80%;
    }
    .part1 p{
        font-size: 150%;
    }
    h1{
        font-size: 200%;
    }
    #contenedor-formulario{
        width: 90%;
        display: inline;
        margin-left: 5%;
    }
    #contenedor-imagen{
        display: none;
    }
    #formm{
        width: 100%;
    }
    #tituloe{
        font-size: 200%;
    }
    .cinta-imagenes{
        margin-top: 8%;
    }
    .cinta-imagenes img {
        width: 30%;
    }
    footer{
        padding: 0%;
    }   
    #pie{
        margin-bottom: 0%;
    }
    #f1{
        background-color:red;
        width: 45%;
        margin-right: 4%;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
        padding-bottom: 1%;
        height: 11%;
    }
    #separador{
        margin-bottom: 30px;
    }
    #f1 br{
        display: none;
    }
    #f1 h2{
        font-size:170% ;
    }
    #f2{
        background-color:red;
        width: 45%;
        margin-right: 0;
        height: 11%;
        padding-bottom: 2%;
    }
    #f2 br{
        display: none;
    }
    #f2 h2{
        font-size: 170%;
    }
    #iglogo{
        width: 7%;
        height: auto;
    }
}
